# Angular
/client/node_modules/
/client/dist/
/client/.angular/
/client/npm-debug.log
/client/yarn-error.log

# .NET
/server/**/bin/
/server/**/obj/
/server/**/.vs/
/server/**/TestResults/
/server/**/*.user
/server/**/*.dbmdl
/server/**/*.jfm
/server/**/.DS_Store

# Environment files
*.env
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.local.json
/client/src/environments/environment.*.ts
!client/src/environments/environment.ts
!client/src/environments/environment.prod.ts

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.sw?
